html,
body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
  display: flex;
  flex-flow: column;
}
#filtered-table {
  height: 100%;
  display: flex;
  flex-flow: column;
  position: relative;
}
.content {
  flex: 1 1 auto;
}
