name: Cypress Tests

on: push

jobs:
  cypress-run:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      # Install npm dependencies, cache them correctly
      # and run all Cypress tests
      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          build: npm run build 
          start: npm start
          wait-on: 'http://localhost:5000'
      - name: Deploy to production
        run: |
          curl --request GET \
          --url https://api.render.com/deploy/srv-cob9ijq1hbls73ap1jj0?key=Acvr-lOvpPI
          