name: Cypress Tests

on: push
env:
  FRONTEND_PORT: 5000
jobs:
  cypress-run:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      # Install npm dependencies, cache them correctly
      # and run all Cypress tests
      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.10.0
        with:
          mongodb-version: 6.0
          mongodb-username: supercharge
          mongodb-password: secret
          mongodb-db: supercharge
      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          build: npm run build
          start: npm start
          wait-on: "http://localhost:5000"
      - name: Deploy to production
        run: |
          curl --request GET \
          --url "${{ secrets.RENDER_DEPLOY_HOOK }}"
